@import url(reset.css);

body{
    font-family: Roboto, sans-serif;
    line-height: 1.6;
    color: #613c11;
    width: 100%;
    letter-spacing: .05rem;
}

*{
    box-sizing: border-box;
}

header.header {
    font-size: 24px;
    width: 100%;
    background-color: #CFAD84;
    /* position: fixed;
    top: 0;
    left: 0; */
}

.header_list {
    width: 1200px;
    margin: 0 auto;
}

.header_nav_list_left {
    font-size: 0;
    display: inline-block;
}

.header_nav_list_left > li {
    display: inline-block;
}

.header_nav_list_left > li > a {
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
    padding: 26px 20px;
    line-height: 110%;
    letter-spacing: 12%;
    color: #613C11;
    font-weight: 700;
}

.header_nav_list_right .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 40px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #613C11;
}

.header_nav_list_right {
    font-size: 0;
    float: right;
}

.header_nav_list_right > li {
    display: inline-block;
}

.header_nav_list_right > li > a {
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
    line-height: 110%;
    letter-spacing: 12%;
    color: #613C11;
    font-weight: 700;
}

.header_nav_list_right > li:nth-child(1){
    padding: 16.5px 20px;
}

.header_nav_list_right > li:nth-child(2){
    padding: 16.5px 20px;
}

.header_nav_list_right > li:nth-child(3){
    padding: 26px 20px;
    vertical-align: top;
}

.header_nav_list_right > li:nth-child(4){
    padding: 26px 20px;
    vertical-align: top;
}

/* contain */

.cart{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    /* position: relative; */
}

.cartContainer{
    margin: 0 auto;
    height: calc(100%-100px);
    max-width: 1200px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(13, 1fr); */
    grid-gap: 20px;
    padding-bottom: 100px;
}

.cartTitle1{
    display: block;
    /* background-color: #613c11; */
    width: auto;
    max-width: 1200px;
    margin: 16px auto;
    font-size: 1.5rem;
    color: #613c11;
}

.leftCard{
    grid-column: 1/3;
    height: auto;
}

.rightCard{
    grid-column: 3/4;
    height: auto;
}

/* 商品明細 */

.cardStyle1{
    background-color: rgba(207, 173, 132, 0.3);
    border-radius: 16px;
    margin-bottom: 20px;
}

.cartTitle2{
    display: block;
    font-size: 1.25rem;
    padding: 12px 0;
    margin-left: 20px;
}

ul{
    margin:0 20px;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style:none;
}

.cartProdlist{
    display: inline-flex;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid #613c11;
    width: 100%;
}

.cartProdlist picture{
    margin-right: 36px;
}

.cartCard{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.cardUp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}

.cardUp span:first-child{
    text-indent: -8px;
    /* flex-grow: 1; */
}

.cardUp a{
    text-decoration: none;
    color: #613c11;
}

.cardUp a:hover{
    color: #EAC18E;
}

.cardUp a:active{
    color: #CEA574;
}

.material-symbols-outlined{
    display: block;
    align-self: flex-end;
}

.cardDown{
    /* display: inline-flex;
    align-items: flex-end; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}

.cardDown span{
    flex: 1;
}

/* Input Step */
.input-stepper {
    background: white;
    display: inline-flex;
    border-radius:8px ;
    padding:4px;
    align-items: center;
    justify-content: center;
}
  
.input-stepper button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.input-stepper button.plus{
    color: #613c11;
    padding: 0;

}

.input-stepper button.minus{
    color: #E0E0E0;
    padding: 0;
}

.input-stepper button[disabled] {
    cursor: not-allowed;
    opacity: .4;
}
  
.input-stepper input {
    font-size: 1rem;
    color: #613c11;
    line-height: 1.6;
    border: none;
    text-align: center;
    width: 36px;
}

.input-stepper input[type=number]::-webkit-inner-spin-button,
.input-stepper input[type=number]::-webkit-outer-spin-button{
    appearance: none;
    margin: 0;
}


/* 加價購 */
.cardStyle2{
    /* grid-column: 1/3; */
    /* grid-row: 5/6; */
    background-color: rgba(207, 173, 132, 0.3);
    border-radius: 16px;
}

.addCard{
    display:inline-flex;
    margin-right: 0;
}

.cartAdd{
    display:flex;
    flex-direction: column;
    flex-basis: 124px;
    align-items: space-between;
    margin-bottom: 16px;
    margin-right: 28px;
}

.addContain p{
    margin: 0;
}

.addContain p:first-child{
    font-size: .9rem;
    text-indent: -8px;
    padding-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    box-sizing:border-box;
}

.addContain p:nth-child(2){
    font-size: .75rem;
    text-decoration:line-through;
    color: #BDBDBD;
}

/* 優惠票券 */
.cardStyle3{
    /* grid-area:1/2/1/4; */
    /* grid-column: 3/4; */
    /* height: auto; */
    background-color: rgba(207, 173, 132, 0.3);
    border-radius: 16px;
    padding-bottom: 16px;
    margin-bottom: 20px;
}

.cartCoupon{
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    border-radius: 8px;
    color: #fff;
    background-color: #CFAD84;
    margin: 0 16px;
}

.cartCoupon:hover{
    background-color:#EAC18E;
}

.cartCoupon:active{
    background-color:#CEA574;
}

/* 點數 */
.cardStyle4{
    /* grid-area:2/2/2/4; */
    /* grid-column: 3/4; */
    /* grid-row: 1/1; */
    background-color: rgba(207, 173, 132, 0.3);
    border-radius: 16px;
    margin-bottom: 20px;
}

.cartPoint{
    display:flex;
    margin: 0 16px;
    padding-bottom: 16px;
    align-items: center;
    justify-content: flex-start;
}

.cartPoint span{
    display: inline-flex;
    /* margin: 0 auto 16px; */
    margin-right: 20px;
}

.cartPoint input{
    width: 50%;
    line-height: 40px;
    border: 1px solid #CFAD84;
    border-radius: 8px;
    text-indent: 8px;
    /* font-size: 1rem; */
    color: #BDBDBD;
    letter-spacing: .05rem;
}

.cartPoint input:focus{
    border: #613c11;
}

.cartPoint p{
    flex-grow: 1;
    align-self: baseline;
}

.cartPoint p:nth-child(2){
    font-size: 1.75rem;
    font-weight:bold;
    /* flex-grow: 1; */
}


/*付款明細 */
.cardStyle5{
    /* grid-row:3/5; */
    /* grid-column: 3/4; */
    background-color: rgba(207, 173, 132, 0.3);
    border-radius: 16px;
}

.cardStyle5 ul{
    display: block;
    margin: 0 20px;
}

.cardStyle5 li{
    display: flex;
    justify-content:space-between ;
    padding-bottom: 8px;
}

.cardStyle5 li:last-child{
    align-items: baseline;
}

.cardStyle5 li > span{
    display: block;
    height: 1px;
    width: 100%;
    background-color:#613c11;
}

.cardStyle5 li:last-child > p:last-child{
    /* background-color: #fff; */
    font-size: 1.25rem;
    font-weight:bolder;
}

/* Fix area */
.cartPaynow{
    flex: 0 0 auto;
    position: sticky;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background-color: #fff;
    box-shadow: 0 -5px 10px rgba(163, 163, 163,0.25);

}

.cartPaynow div{
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 0;
}

.cartPaynow p:nth-child(1){
    font-size: 1.25rem;
    margin-right: 8px;
    /* align-self: center; */
    line-height: 1;
}

.cartPaynow p + p{
    font-size: 2rem;
    font-weight: bolder;
    margin-right: 16px;
    /* align-self: center; */
    line-height: .85;
}

.cartPaynow a{
    text-decoration: none;
    display:block;
    width: 32%;
    line-height: 50px;
    text-align: center;
    background-color: #CEA574;
    color: #fff;
    border-radius: 8px;
}

.cartPaynow a:hover{
    background-color: #EAC18E;
}

/* 刪除商品 */
.cartMask{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}

.cartMask.open{
    display: block;
}

.cartDelet{
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 16px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    overflow: hidden;
    padding: 16px;
    display: none;
}


.cartDelet.open{
    display: block;
}

.cartPopTitle{
    /* background-color: #613c11; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    margin-bottom: 16px;
}

.cartPopTitle h3{
    font-size: 1.2rem;
}

.cartDelet div a{
    text-decoration: none;
}

.cartDelet div img{
    margin-right:16px;
}

.cartPopclose{
    color: #613c11;
    height: 24px;
}

.cardDown span:first-child{
    flex-grow: 1;
}
.cardDown span:last-child{
    text-align:right;
}

.cartPopTitle+div{
    display: flex;
    margin-bottom: 16px;
}

.Deletbtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    margin: 0 auto;
}

.Deletbtn a{
    display: inline-block;
    width: 270px;
    /* height: 40px; */
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
}

.Deletbtn1{
    color: #613c11;
}

.Deletbtn2{
    background-color: #CEA574;
    color: #fff;
}

.Deletbtn2:hover{
    background-color: #EAC18E;
}

.cartSave{
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 16px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    overflow: hidden;
    padding: 16px;
    display: none;
    /* z-index: 9999; */
}

.cartSave.open{
    display: block;
}

.cartInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0 12px;
}

.cartNt{
    width:240px;
    height: 94px;
    background-color: #fff;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;

    display: none;
}

.cartNt.open{
    display: block;
}

.dash_nt{
    height: 59px;
    background-color: #fff;
    border: #CFAD84 3px dashed ;
    border-radius: 8px;
    position: absolute;
    margin-right: 20px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-areas: 'icon text text text';
}

.Nticon{
    width: 32px;
    grid-area: icon;
    margin:auto 20px;
}

.dash_nt p{
  grid-area: text;
  height: 53.67px;
  line-height: 53.67px;
  grid-column: 2/5;
}

/* 加入優惠券 */
.cartMask2{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}

.cartCouponspop{
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 16px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    overflow: hidden;
    padding: 16px;
}

.cartCouponsList ul{
    font-size: 1.15rem;
    margin: 0 auto;
    width: 536px;
}

.cartCouponsList li{
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
}

input[type="radio"] {
    display: none; /* 隱藏原始的 radio input */
}

input[type="radio"] + label::before {
    content: '\e836'; /* 使用 'radio_button_checked' icon 的 unicode */
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 1.4rem;
    margin-right: 20px;
}

input[type="radio"]:checked + label::before {
    content: '\e837'; /* 使用 'radio_button_unchecked' icon 的 unicode，表示選中狀態 */
}

.cartCouponsList li label{
    display: flex;
    align-items: center;
    align-self: stretch;
    flex: 1;
}

.cartCouponsList li span:first-child{
    display:flex;
    flex-direction: column;
    flex: 1;
}

.cartCouponsList span p:last-child{
    font-size: small;
    color: #BDBDBD;
}

.cartCouponsList label span:last-child{
    font-size: 1.4rem;
}

.Savebtn1{
    text-decoration: none;
    color: #fff;
    display: block;
    line-height: 48px;
    background-color: #CEA574;
    text-align: center;
    border-radius: 8px;
}

.Savebtn1:hover{
    background-color: #EAC18E;
}






