@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
}

body {
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    color: #613C11;
}

.container {
    max-width: 1280px;
    margin: 0 auto 150px;
    padding: 0 40px;
    margin-top: 110px;
}


main {
    display: flex;
    justify-content: space-between;
}

/* 側邊導覽區塊 */
.guide nav img {
    width: 184px;
}


.guide a {
    text-decoration: none;
    color: #613C11;
    font-weight: normal;
}


.breadcrumb ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 24px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.breadcrumb li {
    padding-right: 10px;
    padding-bottom: 2px;
}

.breadcrumb li a {
    color: #828282;
    text-decoration: none;
}

/* .breadcrumb li a:hover {
    color: #333;
} */

.breadcrumb li:last-child a {
    color: #CFAD84;
}

/* .breadcrumb li:last-child a:hover {
    color: #9c6e35;
} */

.guide nav {
    font-size: 20px;
    width: 184px;
    font-weight: 600;
}

.guide nav li {
    border-bottom: #613C11 solid 1px;
}

.guide nav a {
    line-height: 48px;
}

.guide nav a:hover {
    background-color: rgba(207, 173, 132, 0.30);
}

.saveright {
    width: 66%;
    margin-left: 80px;
    flex-grow: 1;
}

.saveright h2 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 60px;
    padding-left: 27px;
    border-left: 16px solid #613C11;
}




.top {
    padding: 16px 24px 0px 24px;
    background-color: rgba(207, 173, 132, 0.30);
    border-radius: 16px;
    margin-bottom: 64px;
}

.top ul {
    display: flex;
    flex-direction: column;
}

.top ul li {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top ul li img {
    width: 124px;
    border-radius: 12px;
    margin-right: 16px;
}

.top ul li .list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.top ul li .function {
    display: flex;
    flex-direction: column;
}

.top ul li .function>i {
    text-align: center;
    font-size: 24px;
    line-height: 1.6;
    background-color: rgba(207, 173, 132, 0.30);
    border-radius: 8px;
    padding: 4px;
    width: 40px;
    align-self: flex-end;
}

.top ul li .function>i:hover {
    color: #fff8f1;
    background-color: #EB5757;
}

.top ul li .function>a {
    text-align: right;
}

.top ul li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    padding: 12px;
    color: #FFF;
    background-color: #CFAD84;
    border-radius: 8px;
    margin-top: 32px;
    /* flex-grow: 1; */
}

.top ul li a:hover {
    background: #EAC18E;
    box-shadow: 0px 4px 4px 0px rgba(181, 129, 43, 0.16);
}

.top ul li .list>p:first-child {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    flex-grow: 6;
}

.top ul li .list>p:nth-child(2) {
    flex-grow: 1;
    font-size: 20px;
    color: #828282;
    text-decoration: line-through;
}

.top ul li .list>p:last-child {
    flex-grow: 1;
    font-size: 24px;
    color: #613C11;
    font-weight: bold;
}

.top ul li:last-child .list>p:last-child {
    color: #EB5757;
    font-size: 24px;
    font-weight: bold;
}

.top ul li:first-child .list>p:last-child {
    color: #EB5757;
    font-size: 24px;
    font-weight: bold;
}


.bottom h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    padding-top: 64px;
    padding-bottom: 40px;
    border-top: solid 2px #613C11;
}

.bottom p {
    font-size: 16px;
}

.bottom ul {
    align-items: center;
    display: flex;
    align-items: flex-start;
    /* padding: 20px 16px; */
}

.bottom ul li {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 8px;
}

.bottom ul li img {
    width: 160px;
    border-radius: 12px;
    margin: 0 auto;
}

.bottom ul li>p {
    line-height: 1.6;
    /* flex-grow: 1; */
}


.bottom ul li p:nth-child(2) {
    flex-grow: 1;
    font-weight: 600;
}

.bottom ul li p:nth-child(3) {
    color: #FFF;
}

.bottom ul li:first-child p:nth-child(3) {
    color: #BDBDBD;
    text-decoration: line-through;
}

.bottom ul li:first-child p:last-child {
    color: #EB5757;
}

.bottom ul li:last-child p:nth-child(3) {
    color: #bdbdbd;
    text-decoration: line-through;
}

.bottom ul li:last-child p:last-child {
    color: #EB5757;
}

.bottom ul li p:last-child {
    font-weight: bold;
    flex-grow: 1;
}

.function span{
    text-align: right;
}

.function span .material-symbols-outlined{
    color: #613c11;
}

.material-symbols-outlined:hover{
    color: #EAC18E;
}


@media screen and (max-width:1243px) {
    .bottom ul {
        overflow: scroll;
    }

    /* 網頁捲軸【寬度】 */
    ::-webkit-scrollbar {
        height: 4px;
        width: 0;
    }

    /* 網頁捲軸【背景】顏色 */
    ::-webkit-scrollbar-track {
        background: rgba(207, 173, 132, 0.30);
    }

    /* 網頁捲軸【把手】顏色 */
    ::-webkit-scrollbar-thumb {
        background: #CFAD84;
    }

    /* 網頁捲軸【滑過時】把手的顏色 */
    ::-webkit-scrollbar-thumb:hover {
        background: #613C11;
    }
}


/* 這個斷點是以786的尺寸去寫的 */
@media screen and (max-width:820px) {

    .guide nav,
    .breadcrumb {
        display: none;
    }

    .saveright {
        margin-left: 0;
    }

    .container {
        margin-bottom: 60px;
    }

    .container h2 {
        margin-top: 60px;
        margin-bottom: 40px;
    }

}

/*這個斷點以480的尺寸寫的  */
@media screen and (max-width:556px) {
    .top ul li {
        flex-direction: column;
        border-bottom: #613C11 solid 2px;
    }

    .top ul {
        padding-bottom: 24px;
    }

    .top ul li .function {
        flex-direction: row;
    }

    .top ul li img {
        width: 100%;
        margin: 24px 0;
    }

    .top ul li p {
        line-height: 1.2;
    }

    .top ul li .list>p:first-child {
        padding-bottom: 16px;
    }

    .top ul li .function {
        justify-content: space-between;
    }

    .top ul li .function>a {
        width: 80%;
        text-align: center;
        margin-left: 8px;
        line-height: 1.6;
    }

    .function span{
        font-size: 32px;
        padding-top: 40px;
    }
}

@media screen and (max-width:375px) {}