@media screen and (max-width:820px){
  .login_page{
    left: 50%;
    top: 48%;
  }
  
  .register_page{
    left: 50%;
    top: 50%;
    /* margin: 50px auto; */
  }
}

@media screen and (max-width:430px){

    .login_page{
      width: 400px ;
      height: 630px;
    }

    .register_page{
      left: 50%;
      top: 50%;
      margin: 50px auto;
    }
    
      .nt1{
        width: 400px ;
        height: 94px;
        
      }

    .dash_nt1{
        width: 365px ;
          grid-template-columns:repeat(6,1fr);
          grid-template-areas: 'icon text text text text text ';
          
      }

      .bi.bi-check-circle-fill{
        grid-area: icon;
        margin-left: 20px;
        line-height: 53.67px;
      }
      
      .dash_nt1 p{
      font-size: 12px;
      grid-column: 2/7;
      }

      .nt2{
        width: 400px ;
        height: 94px;
        
      }

    .dash_nt2{
        width: 365px ;
          grid-template-columns:repeat(6,1fr);
          grid-template-areas: 'icon text text text text text ';
          
      }
      
      .dash_nt2 p{
        font-size: 12px;
        grid-column: 2/7;
        }

    
    .register_page{
        width: 400px ;
        height: 800px;
        position: fixed;
        margin: 0 auto;
      }

      .register_main{
        width: 100%;
        height: 40%;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-content: center;
        font-size: 16px;
      }

      .register_content1{
        width: 50%;
        align-items: center;
      }

      .register_content2{
        width: 50%;
        align-items: center;
      }

      form1{
        width: 150px;
        margin: 0 auto;
      }

      .text2 p{
        font-size: 15px;
        grid-area: checkbox2;
        margin-left:23px;
        margin-top: 10px;
        width: 160px;
      }

      input[id="accept_"] + label {
        display: block;
        width: 18px;
        height: 18px;
        border: 2px solid #CFAD84;
        border-radius: 4px;
        grid-area: checkbox2;
        margin-top: -35px;
      }

      .user-box1 input {
        width: 135px;
        height: 35px;
      }
      .user-box1 label {
        margin: auto;
      }

      .text1 p{
        font-size: 14px;
        left: 220px;
        top: 435px;
      }
      
      .text2 p{
        font-size: 14px;
        left: 220px;
        top: 460px;
        line-height: 1.2;
      }

      .bt_r2{
        width: 240px;
        margin: 0 auto 16px auto;
      }

      .dash_or1{
        width: 300px;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        }

      .dash_3{
        /* background-color: #CFAD84; */
        width: 100px;
        
        }
        .dash_4{
        /* background-color: #CFAD84; */
        width: 100px;

        }
  
}
