@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
}

body {
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    color: #613C11;
}

.container {
    max-width: 1280px;
    margin: 0 auto 150px;
    padding: 0 40px;
    margin-top: 110px;
}

main {
    display: flex;
    justify-content: space-between;
}

/* 側邊導覽區塊 */
.guide nav img {
    width: 184px;
}


.guide a {
    text-decoration: none;
    color: #613C11;
    font-weight: normal;
}


.breadcrumb ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 24px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.breadcrumb li {
    padding-right: 10px;
    padding-bottom: 2px;
}

.breadcrumb li a {
    color: #828282;
    text-decoration: none;
}

/* .breadcrumb li a:hover {
    color: #333;
} */

.breadcrumb li:last-child a {
    color: #CFAD84;
}

/* .breadcrumb li:last-child a:hover {
    color: #9c6e35;
} */

.guide nav {
    font-size: 20px;
    width: 184px;
    font-weight: 600;
}

.guide nav li {
    border-bottom: #613C11 solid 1px;
}

.guide nav a {
    line-height: 48px;
}

.guide nav a:hover {
    background-color: rgba(207, 173, 132, 0.30);
}

.saveright {
    width: 66%;
    margin-left: 80px;
    flex-grow: 1;
}

.saveright h2 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 60px;
    padding-left: 27px;
    border-left: 16px solid #613C11;
}


/* 表格部分 */
.record {
    text-align: center;
}

.record img {
    width: 64px;
    border-radius: 12px;
    padding: 8px;
    float: left;
}

tbody {
    background-color: rgba(207, 173, 132, 0.30);
}

thead tr {
    background-color: #FFF8F1;
    line-height: 2;
}

.record a {
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    background-color: #CFAD84;
    border-radius: 8px;
    letter-spacing: 0.5px;
    padding: 8px 16px;
}

.record a:hover {
    background: #EAC18E;
    box-shadow: 0px 4px 4px 0px rgba(181, 129, 43, 0.16);
}

.record tr {
    border: #613C11 solid 1px;
}

.record td {
    border: #613C11 solid 1px;
    vertical-align: middle;
    padding: 0 12px;
}





@media screen and (max-width:1270px) {
    .record {
        width: 750px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }


}


@media screen and (max-width:1040px) {
    .record {
        width: 600px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }

    /* 網頁捲軸【寬度】 */
    ::-webkit-scrollbar {
        height: 4px;
        width: 0;
    }

    /* 網頁捲軸【背景】顏色 */
    ::-webkit-scrollbar-track {
        background: rgba(207, 173, 132, 0.30);
    }

    /* 網頁捲軸【把手】顏色 */
    ::-webkit-scrollbar-thumb {
        background: #CFAD84;
    }

    /* 網頁捲軸【滑過時】把手的顏色 */
    ::-webkit-scrollbar-thumb:hover {
        background: #613C11;
    }
}

@media screen and (max-width:915px) {
    .record {
        width: 550px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:860px) {
    .record {
        width: 500px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}


@media screen and (max-width:820px) {

    .guide nav,
    .breadcrumb {
        display: none;
    }

    .saveright {
        margin-left: 0;
    }

    .container {
        margin-bottom: 60px;
    }

    .container h2 {
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .record {
        width: 720px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:760px) {
    .record {
        width: 680px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:740px) {
    .record {
        width: 660px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:720px) {
    .record {
        width: 640px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:700px) {
    .record {
        width: 620px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:680px) {
    .record {
        width: 600px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:660px) {
    .record {
        width: 600px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:640px) {
    .record {
        width: 580px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:620px) {
    .record {
        width: 560px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:600px) {
    .record {
        width: 540px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:580px) {
    .record {
        width: 520px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:560px) {
    .record {
        width: 500px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:540px) {
    .record {
        width: 480px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:520px) {
    .record {
        width: 460px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:500px) {
    .record {
        width: 440px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:480px) {
    .record {
        width: 420px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:460px) {
    .record {
        width: 400px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:440px) {
    .record {
        width: 380px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:420px) {
    .record {
        width: 360px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:400px) {
    .record {
        width: 340px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:380px) {
    .record {
        width: 320px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}

@media screen and (max-width:360px) {
    .record {
        width: 300px;
        overflow-x: scroll;
        display: block;
    }

    table {
        width: 820px;
    }
}