* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

/* logo */

/* div.logo {} */

div.logo img {
    display: block;
    width: 424px;
    margin: 0 auto;
    padding: 78px 0;
}

.carousel-item{
    z-index: -5;
}

/* 產品分類列表 */

div.product {
    text-align: center;
}

div.product ul.product_list {
    display: inline-block;
    font-size: 0;
}

div.product ul.product_list > li {
    display: inline-block;
    margin-right: 24px;
    margin-bottom: 48px;
}

div.product ul.product_list > li:last-child {
    margin-right: 0;
}

div.product ul.product_list>li>a {
    text-decoration: none;
    display: inline-block;
    color: #613C11;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 12%;
    padding: 10px;
}

div.product ul.product_list > li > a:hover{
    border-bottom: 3px solid #613C11;
}

/* 限時特價 */

main.main div.time_limit_sales {
    width: 1200px;
    height: 672px;
    background-image: url(../img/Sales.png);
    background-repeat: no-repeat;
    margin: 100px auto;
    position: relative;
}

main.main div.time_limit_sales div.countdown{
    background-color: rgba(255, 194, 103, .3);
    display: flex;
    width: 252px;
    height: 72px;
    position: absolute;
    left: 208px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}

main.main div.time_limit_sales div.countdown p{
    font-size: 24px;
    font-weight: 700;
    width: 30px;
    height: 44px;
    line-height: 44px;
    margin-right: 4px;
    text-align: center;
    background-color: #fff;
    color: #613C11;
    border-radius: 4px;
}

main.main div.time_limit_sales div.countdown :nth-child(3n){
    background-color:transparent;
    width: auto;
}

main.main div.time_limit_sales div.card_container {
    display: flex;
    justify-content: space-evenly;
}

main.main div.time_limit_sales div.card {
    width: 320px;
    height: 504px;
    display: flex;
    vertical-align: top;
    border: 0;
    margin-top: 100px;
    position: relative;
}

main.main div.time_limit_sales div.card div.product_img img {
    width: 320px;
    display: block;
}

main.main div.time_limit_sales div.card span {
    position: absolute;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #fff;
    top: 15px;
    right: 15px;
}

main.main div.time_limit_sales div.card h1 {
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 12%;
    color: #613C11;
    font-weight: 700;
    padding: 10px 0;
    margin: 24px 0;
}

main.main div.time_limit_sales div.card div.card_bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

main.main div.time_limit_sales div.card div.card_bottom div.product_price {
    display: inline-block;
}

main.main div.time_limit_sales div.card div.card_bottom div.product_price del {
    font-size: 20px;
    color: #6b6b6b;
}

main.main div.time_limit_sales div.card div.card_bottom div.product_price h3 {
    font-size: 32px;
    font-weight: 700;
    color: #EB5757;
    padding: 10px 0;
}

main.main div.time_limit_sales div.card div.card_bottom div.product_button a {
    display: block;
    width: 140px;
    background-color: #CFAD84;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    border-radius: 8px;
    text-decoration: none;
}

main.main div.time_limit_sales div.card div.card_bottom div.product_button a:hover {
    background-color: #EAC18E;
    box-shadow: 0px 4px 4px rgba(158, 117, 49, .16);
}

main.main div.time_limit_sales div.card div.card_bottom div.product_button a:focus {
    background-color: #CEA574;
    box-shadow: 4px 4px 4px rgba(181, 129, 43, .16) inset;
}

/* 熱銷排行 */

main.main div.top_sale div.top_sale_title {
    text-align: center;
}

main.main div.top_sale div.top_sale_title h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 12%;
    color: #613C11;
}

main.main div.top_sale div.top_sale_product {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 100px 0;
    position: relative;
}

main.main div.top_sale div.top_sale_product img.gold_medal {
    height: 100px;
    position: absolute;
    top: -50px;
    left: -41px;
    /* z-index: 1; */
}

main.main div.top_sale div.top_sale_product img.silver_medal {
    height: 100px;
    position: absolute;
    top: -50px;
    left: -41px;
    /* z-index: 1; */
}

main.main div.top_sale div.top_sale_product img.bronze_medal {
    height: 100px;
    position: absolute;
    top: -50px;
    left: -41px;
    /* z-index: 1; */
}

main.main div.top_sale div.top_sale_product div.card {
    width: 320px;
    border: 0;
    position: relative;
}

main.main div.top_sale div.top_sale_product div.card div.product_img {
    /* z-index: 0; */
}

main.main div.top_sale div.top_sale_product div.card div.product_img img {
    width: 320px;
    display: block;
}

main.main div.top_sale div.top_sale_product div.card span {
    position: absolute;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #fff;
    top: 15px;
    right: 15px;
}

main.main div.top_sale div.top_sale_product div.card h1 {
    font-size: 24px;
    font-weight: 700;
    color: #613C11;
    line-height: 110%;
    letter-spacing: 12%;
    padding: 10px 0;
    margin: 24px 0;
}

main.main div.top_sale div.top_sale_product div.card div.card_bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

main.main div.top_sale div.top_sale_product div.card div.card_bottom div.product_price h3 {
    font-size: 32px;
    font-weight: 700;
    color: #613C11;
    padding: 10px 0;
}

main.main div.top_sale div.top_sale_product div.card div.card_bottom div.product_button a {
    display: block;
    width: 140px;
    background-color: #CFAD84;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    border-radius: 8px;
    text-decoration: none;
}

main.main div.top_sale div.top_sale_product div.card div.card_bottom div.product_button a:hover {
    background-color: #EAC18E;
    box-shadow: 0px 4px 4px rgba(158, 117, 49, .16);
}

main.main div.top_sale div.top_sale_product div.card div.card_bottom div.product_button a:focus {
    background-color: #CEA574;
    box-shadow: 4px 4px 4px rgba(181, 129, 43, .16) inset;
}

/* 會員獨享 */

main.main div.member_discount {
    padding-bottom: 100px;
}

main.main div.member_discount picture {
    display: block;
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
}

/* main.main div.member_discount div.member_discount_product{} */

main.main div.member_discount div.member_discount_product div.first_row {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 48px;
    padding: 24px 0;
}

main.main div.member_discount div.member_discount_product div.first_row div.card {
    width: 320px;
    border: 0;
}


main.main div.member_discount div.member_discount_product div.first_row div.card div.product_img img {
    width: 320px;
    display: block;
}

main.main div.member_discount div.member_discount_product div.first_row div.card div.product_img span {
    position: absolute;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #fff;
    top: 15px;
    right: 15px;
}

main.main div.member_discount div.member_discount_product div.first_row div.card h1 {
    font-size: 24px;
    font-weight: 700;
    color: #613C11;
    line-height: 110%;
    letter-spacing: 12%;
    padding: 10px 0;
    margin: 24px 0;
}

main.main div.member_discount div.member_discount_product div.first_row div.card div.card_bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

main.main div.member_discount div.member_discount_product div.first_row div.card div.card_bottom div.product_price h3 {
    font-size: 32px;
    font-weight: 700;
    color: #613C11;
    padding: 10px 0;
}

main.main div.member_discount div.member_discount_product div.first_row div.card div.card_bottom div.product_button a {
    display: block;
    width: 140px;
    background-color: #CFAD84;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    border-radius: 8px;
    text-decoration: none;
}

main.main div.member_discount div.member_discount_product div.first_row div.card div.card_bottom div.product_button a:hover {
    background-color: #EAC18E;
    box-shadow: 0px 4px 4px rgba(158, 117, 49, .16);
}

main.main div.member_discount div.member_discount_product div.first_row div.card div.card_bottom div.product_button a:focus {
    background-color: #CEA574;
    box-shadow: 4px 4px 4px rgba(181, 129, 43, .16) inset;
}

main.main div.member_discount div.member_discount_product div.second_row {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 48px;
    padding: 24px 0px;
}

main.main div.member_discount div.member_discount_product div.second_row div.card {
    width: 320px;
    border: 0;
}

main.main div.member_discount div.member_discount_product div.second_row div.card div.product_img img {
    width: 320px;
    display: block;
}

main.main div.member_discount div.member_discount_product div.second_row div.card div.product_img span {
    position: absolute;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #fff;
    top: 15px;
    right: 15px;
}

main.main div.member_discount div.member_discount_product div.second_row div.card h1 {
    font-size: 24px;
    font-weight: 700;
    color: #613C11;
    line-height: 110%;
    letter-spacing: 12%;
    padding: 10px 0;
    margin: 24px 0;
}

main.main div.member_discount div.member_discount_product div.second_row div.card div.card_bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

main.main div.member_discount div.member_discount_product div.second_row div.card div.card_bottom div.product_price h3 {
    font-size: 32px;
    font-weight: 700;
    color: #613C11;
    padding: 10px 0;
}

main.main div.member_discount div.member_discount_product div.second_row div.card div.card_bottom div.product_button a {
    display: block;
    width: 140px;
    background-color: #CFAD84;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    border-radius: 8px;
    text-decoration: none;
}

main.main div.member_discount div.member_discount_product div.second_row div.card div.card_bottom div.product_button a:hover {
    background-color: #EAC18E;
    box-shadow: 0px 4px 4px rgba(158, 117, 49, .16);
}

main.main div.member_discount div.member_discount_product div.second_row div.card div.card_bottom div.product_button a:focus {
    background-color: #CEA574;
    box-shadow: 4px 4px 4px rgba(181, 129, 43, .16) inset;
}

/* FAQ */

main.main div.faq {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 56px;
    position: relative;
    margin-bottom: 100px;
}

main.main div.faq div.faq_title {
    text-align: center;
}

main.main div.faq div.faq_title h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 12%;
    color: #613C11;
}

main.main div.faq div.faq_content {
    width: 1200px;
    margin: 56px auto;
    display: flex;
    justify-content: space-between;
}

main.main div.faq div.faq_content div.faq_picture {
    display: block;
    width: 500px;
}

main.main div.faq div.faq_content div.faq_question {
    display: flex;
    flex-direction: column;
    width: 610px;
    justify-content: space-around;
}

main.main div.faq div.faq_content div.faq_question div.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main.main div.faq div.faq_content div.faq_question div.faq_layout_index {
    display: flex;
    align-items: center;
}

main.main div.faq div.faq_content div.faq_question div.question div.question_tag {
    margin-right: 24px;
}

main.main div.faq div.faq_content div.faq_question div.question div.question_tag span.faq_list_style {
    display: inline-block;
    border: 8px solid #613C11;
    transform: rotate(45deg);
}

main.main div.faq div.faq_content div.faq_question div.question div.question_content {
    font-size: 20px;
    color: #613C11;
    line-height: 28px;
    position: relative;
}

main.main div.faq div.faq_content div.faq_question div.question div.question_arrow span.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #613C11;
}

main.main div.faq div.faq_content div.faq_question div.question div.question_content::after {
    position: absolute;
    width: 610px;
    height: 1px;
    left: -40px;
    bottom: -28px;
    content: "";
    background-color: #613C11;
}

main.main div.faq div.faq_button {
    display: block;
    width: 140px;
    position: absolute;
    bottom: 0;
    right: 0;
}

main.main div.faq div.faq_button a {
    display: block;
    width: 140px;
    background-color: #CFAD84;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    border-radius: 8px;
    text-decoration: none;
}

main.main div.faq div.faq_button a:hover {
    background-color: #EAC18E;
    box-shadow: 0px 4px 4px rgba(158, 117, 49, .16);
}

main.main div.faq div.faq_button a:focus {
    background-color: #CEA574;
    box-shadow: 4px 4px 4px rgba(181, 129, 43, .16) inset;
}

@media screen and (max-width: 1200px) {

    main.main div.time_limit_sales {
        width: 800px;
        background-image: url(../img/sales800.png);
    }
    
    main.main div.time_limit_sales div.card_container {
        overflow-x: auto;
        justify-content: normal;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    main.main div.time_limit_sales div.card {
        width: 320px;
        height: auto;
        margin: 0 20px;
        margin-top: 100px;
        padding-bottom: 20px;
        flex-shrink: 0;
    }

    main.main div.top_sale div.top_sale_title{
        margin-bottom: 32px;
    }

    main.main div.top_sale div.top_sale_product {
        width: auto;
        overflow-x: auto;
        margin: 0 20px;
        padding: 50px 20px;
        gap: 20px;
    }

    main.main div.top_sale div.top_sale_product div.card {
        width: 320px;
        margin: 0 20px;
        flex-shrink: 0;
    }

    main.main div.member_discount{
        padding-top: 40px;
    }

    main.main div.member_discount picture {
        width: 800px;
        margin: 0 auto;
        padding-bottom: 100px;
    }

    main.main div.member_discount div.member_discount_product{
        display: flex;
        width: auto;
        margin: 0 20px;
    }

    main.main div.member_discount div.member_discount_product div.card{
        margin-bottom: 32px;
    }

    main.main div.member_discount div.member_discount_product div.first_row {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    main.main div.member_discount div.member_discount_product div.second_row {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    main.main div.faq {
        width: auto;
        margin: 0 20px 100px;
        padding-bottom: 32px;
        position: relative;
    }

    main.main div.faq div.faq_title {
        text-align: center;
    }

    main.main div.faq div.faq_content {
        width: auto;
        margin: 56px 20px;
        display: block;
    }

    main.main div.faq div.faq_content div.faq_picture {
        display: none;
    }

    main.main div.faq div.faq_content div.faq_question {
        width: auto;
        margin: 0 20px;
    }

    main.main div.faq div.faq_content div.faq_question div.question {
        margin: 20px 0;
    }

    main.main div.faq div.faq_content div.faq_question div.question div.question_tag {
        margin-right: 24px;
    }

    main.main div.faq div.faq_content div.faq_question div.question div.question_content {
        font-size: 24px;
        line-height: 110%;
        letter-spacing: 12%;
    }

    main.main div.faq div.faq_content div.faq_question div.question div.question_content::after {
        width: auto;
    }

    main.main div.faq div.faq_button {
        right: 50px;
    }
}

@media screen and (max-width: 800px) {

    main.main div.time_limit_sales {
        width: 630px;
        background-image: url(../img/sales630.png);
    }

    div.product ul.product_list > li {
        margin-right: 12px;
    }

    main.main div.member_discount picture{
        width: 630px;
        padding-bottom: 40px;
    }

    main.main div.member_discount div.member_discount_product{
        flex-direction: column;
        width: auto;
        margin: 0 20px;
    }

    main.main div.member_discount div.member_discount_product div.card{
        margin-bottom: 32px;
    }

    main.main div.member_discount div.member_discount_product div.first_row {
        width: auto;
    }

    main.main div.member_discount div.member_discount_product div.second_row {
        width: auto;
    }

    main.main div.faq div.faq_content div.faq_question div.question div.question_content {
        font-size: 20px;
        line-height: 28px;
    }
}

@media screen and (max-width: 630px){

    main.main div.time_limit_sales {
        width: 400px;
        background-image: url(../img/sales400.png);
    }

    main.main div.time_limit_sales div.countdown{
        width: 182px;
        height: 56px;
        position: absolute;
        left: 151px;
    }
    
    main.main div.time_limit_sales div.countdown p{
        width: 22px;
        height: 36px;
        line-height: 36px;
    }

    main.main div.faq div.faq_content {
        width: auto;
        margin: 48px 0;
    }

    main.main div.member_discount picture{
        width: 414px;
        padding-bottom: 40px;
    }

}
