@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
}

body {
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    color: #613C11;
}

.container {
    max-width: 1280px;
    margin: 0 auto 150px;
    padding: 0 40px;
}

main {
    display: flex;
    justify-content: space-between;
}

/* 側邊導覽區塊 */
.guide nav img {
    width: 184px;
}


.guide a {
    text-decoration: none;
    color: #613C11;
    font-weight: normal;
}


.breadcrumb ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 24px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.breadcrumb li {
    padding-right: 10px;
    padding-bottom: 2px;
}

.breadcrumb li a {
    color: #828282;
    text-decoration: none;
}

.breadcrumb li a:hover {
    color: #333;
}

.breadcrumb li:last-child a {
    color: #CFAD84;
}

.breadcrumb li:last-child a:hover {
    color: #9c6e35;
}

.guide nav {
    font-size: 20px;
    width: 184px;
    font-weight: 600;
}

.guide nav li {
    border-bottom: #613C11 solid 1px;
}

.guide nav a {
    line-height: 48px;
}

.guide nav a:hover {
    background-color: rgba(207, 173, 132, 0.30);
}

.saveright {
    width: 80%;
    margin-left: 80px;
}

.saveright h2 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 60px;
    padding-left: 27px;
    border-left: 16px solid #613C11;
}




.top {
    /* width: 984px; */
    /* height: 511px; */
    background-color: rgba(207, 173, 132, 0.30);
    border-radius: 16px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 70px;
    margin-bottom: 89px;
}

.top h1 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 10px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 47px;
}

.top ul {
    display: flex;
    justify-content: center;
    padding-bottom: 65px;
    width: 100%;
}


.top img {
    width: 160px;
    padding: 24px;
}

.top p {
    text-align: center;
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: 4px;
    font-weight: 500;
    background-color: #FFF8F1;
    padding: 12px;
    border-radius: 100px;
    margin-top: 10px;
    margin-right: 16px;
    margin-left: 16px;
}


.bottom ul {
    display: flex;
    flex-direction: column;
}

.bottom li {
    width: 960px;
    /* height: 294px; */
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    align-items: start;
    background-image: ;
}

.bottom ul li:first-child {
    background-image: url(../img/gold_none.png);
}

.bottom ul li:nth-child(2) {
    background-image: url(../img/silver_none.png);
}

.bottom ul li:last-child {
    background-image: url(../img/cu_none.png);
}

.bottom .introduction {
    width: 100%;
}

.bottom h3 {
    color: #7DA528;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: 2px;
    padding-left: 320px;
    padding-top: 44px;
}

.bottom p {
    color: #613C11;
    font-size: 16px;
    padding-left: 330px;
    line-height: 1.4;
}



/* 
@media screen and (max-width:1270px) {
    .bottom ul {
        overflow: scroll;
    }

    .top ul {
        flex-wrap: wrap;
    }

}


@media screen and (max-width:1120px) {
    .top ul {
        width: 70%;
        margin: 0 auto;
    }
} */

/* 這個斷點是以786的尺寸去寫的 */
@media screen and (max-width:820px) {

    .guide nav,
    .breadcrumb {
        display: none;
    }

    .saveright {
        margin-left: 0;
        width: 100%;
    }

    .container {
        margin-bottom: 60px;
    }

    .container h2 {
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .top ul {
        margin: 0 auto;
        width: 80%;
    }

}