@media screen and (max-width:1280px){
    
    
    .hole_page{
        width: 100%;
      
      }
      
    .bread{
        left: 104px;
        font-size: 18px;
      
    }

   
    .selector{
        width: 154px;
        left: 104px;
        font-size: 20px;
      
    }
  

   
    .middleContainer{
        width: 100%;
      
    }

    .section1 h1 {
        left: 400px;
        text-align: center;
      
    }

    
    .section2{
        width: 694px;
        left: 420px;
    }
  

    .outside{
        width: 664px;
  
    }

    .bt3{
        
        left: 260px;
        top: 37px;

    }
}


@media screen and (max-width:820px){

    .hole_page{
        width: 100%;

      }

    .selector{
        display: none;
    }
    
    .bread{
        display: none;

    }

     /* 中間內容 */
     /* .middleContainer{
        width: 100%;
        寬1280
    } */

    .section1 h1 {
        font-size: 24px; 
        left: 60px;

    }


    .section2{
        width: 694px;
        left: 60px;
    }
     
}

@media screen and (max-width:430px){
    .hole_page{
        width: 100%;

      }
    

     .middleContainer{
        width: 100%;

    }

    .section1 h1 {
        border-left: none;
        width: 430px;
        font-size: 24px; 
        left: 0;
        top: 160px;
        padding:0;
    }

  
    .section2{
        width: 90%;
        height: 450px;
        left: 0;
        top: 250px;
        text-align: center;
        margin: 0 auto;
        margin-left: 21.5px;
    }


    .outside{
        width: 90%;
        height: 90%;
        margin: auto;
        left: 0;
        top: 0;
        display: grid;
        grid-template-columns: 1fr;
        flex-direction: column;
        grid-template-rows:180px 235px;
        /* box-sizing: border-box; */
    }

    .left_area{
        border-right: none;
        border-bottom: 2px dashed #CFAD84;
        
      }

      .left_area h2:nth-child(1){
        top: 40px;
      }

      .left_area h2:nth-child(2){
        top: 105px;
      }


      .bt1{
        width: 68px;
        height: 35px;
        left: 225px;
        top: 40px;
        font-size: 14px;
      }

      .bt2{
        width: 120px;
        height: 35px;
        font-size: 14px;
        left: 200px;
        top: 100px;
      }


      .bt3{
        width: 120px;
        height: 35px;
        font-size: 14px;
        top: 175px;
        left: 200px;
      }

    

      .right_area h3:nth-of-type(1){
        left: 50px;
        top: 40px;
        font-size: 16px;
      }

      .right_area h3:nth-of-type(2){
        left: 50px;
        top: 90px;
        font-size: 16px;
      }

      .right_area h3:nth-of-type(3){
        left: 50px;
        top: 140px;
        font-size: 16px;
      }
        
      .right_area p:nth-of-type(1){
        left: 206px;
        top: 40px;
        font-size: 16px;
      }

      .right_area p:nth-of-type(2){
        left: 206px;
        top: 90px;
        font-size: 16px;
      }

      .right_area p:nth-of-type(3){
        left: 256px;
        top: 93px;
        font-size: 14PX;
      }

      .right_area p:nth-of-type(4){
        left: 236px;
        top: 140px;
        font-size: 16px;
      }
}