
@media screen and (max-width: 1920px) {
    .wrapper{
        width: auto;
    }
}
@media screen and (max-width: 1700px) {
    .introproducts-wsubtitle{left: 232px;}
}
@media screen and (max-width: 1560px) {
    .product-ricenoodle-beefnoodle-picwrefer{
        left: 130px;
        align-items: center;
    }
    
    .introproducts-wsubtitle{left: 70px;}
    /* .line-55{width: 1200px;  left: calc(50% - 624px);} */

    .product-list{width: 100%;}
    .productlist-ricenoodle-beefnoodle{position: unset;}

}

@media screen and (max-width: 834px) {
    .productlist-ricenoodle-beefnoodle{position: relative;}
    .product-list{height: 5480px;}
    .chips {
      width: 100%; /* 將 .chips 寬度調整為 100% */
      left: 0; /* left 重新設定為 0 */
      top: 100px; /* top 重新設定為 100px，或根據需求進行調整 */
      height: 72px;
    }
    .breadcrumbs {
      left: 64px; /* 將 .breadcrumbs 左邊距重新設定為 24px，或根據需求進行調整 */
      top: 12px; /* 將 .breadcrumbs 上邊距重新設定為 15px，或根據需求進行調整 */
    }
    .popup{
        width: 480px;
        height: 480px;
                /* transform: scale(0.6);  */
    }
    .popup-product-pic{
        width: 400px;
        left: 42px;
    }
    .product-ricenoodle-beefnoodle-picwrefer{
        flex-direction: column;
        gap: 40px;
        top: 200px;
        left: 20%;
        right: 20%;
    }
  
    .line-55{
        top: 1420px;
        /* width: 630px;
        left: 10%;
        right: 10%; */
    }
    .product-functionbuttons {
        top: 1440px;}

        .introproducts-wsubtitle{
            left: 34px;
        }
        .introproducts{
            gap: 40px;
            padding: 0px 20px 20px 20px;
            width: 770px;
        }
    .beefnoodle-product-intro{
        position: relative;
        top: 840px;

    }
    .beefnoodle-pic-referbig{
        width: 560px;
        height: 300px;
    }
    .heatingmethod-iconwa{
        flex-wrap: wrap;
        gap: 120px;
    }
    .heatingmethod{
        gap: 56px;
        padding: 32px 72px 32px 72px;
    }
    .heatingmethod-iconwa{
        display: contents;
    }
    .heatingmethod-youtube{
        gap: 40px;
        height: 448px;
        margin-bottom: 20px;
        
    }
    .beefnoodle-product-intro-refer-a{
        width: 560px;
    }
    .beefnoodle-product-intro{
        left: 0px;
        gap: 96px;
    }
    .heatingmethod-youtube iframe{
        width: 560px;
        height: 360px;
    }
    .microwave2{
        width: 280px;
        height: 180px;
    }
    .rice-cooker{
        width: 264px;
        height: 224px;
    }
    .people-dialogbox{
        display: none;
    }
    .social-icons{
        right: -190px;
        top: -20px;
    }
    .othersviewing{top: 88.8%;}
    .chevron-left{display: none;}
    .chatbot-default{height: 56px;width: 56px;}
    #chat-window {
        right: 56px;
        bottom: 90px;
        height: 560px;
        width: 370px;
    }
    #chat-icon {
    bottom: 20px;
    }
    #chat-close{padding-left: 280px;}
    #chat-header {padding: 24px 32px;width: 370px;}
    #chat-title{font-size: 32px;}
    #chat-subtitle{font-size: 20px;padding-top: 20px;}
    #chat-title-2{font-size: 16px;}
    #chat-leave{margin-top: -40px;width: 320px;margin-left: 26px;padding: 16px; height: 163px;}
    #chat-social{margin-top: 20px;width: 320px;margin-left: 26px;height: 64px;padding: 0px;}
    .social-link{padding: 8px 24px;}

    #chat-footer{margin-top: 20px;width: 368px;margin-left: -26px;}
    #send-button{padding:24px;font-size: 16px;}
    #message-input{font-size: 18px;}
    #send-button{padding: 20px;}
    .btn-select{height: 40px;}
    .othersviewing {
        top: 87.15%;
    }
    #chat-window {
        right: 13px;}
  }
  

  @media screen and (max-width: 458px) {

    .popup{
        width: 340px;
        height: 296px;
        top: 32%;
    }
    .popup-product-pic{
        width: 320px;
        left: 10px;
        top: 10px;
    }
    .chips{height: 64px;top: 44px;}
    .breadcrumbs {
        padding-left: 40px;
        left: 0;
        top: 0px;
    }
    .breadcrumbs-index-a{font-size: 18px;}
    .breadcrumbs-index-focus-a{font-size: 18px;}
    .product-ricenoodle-beefnoodle-picwrefer{
        top: 112px;
        align-items: start;
        left: 40px;
    }
    .product-refer-bigtitle{font-size: 20px;width: 100%;}
    .product-refer{gap: 20px;width: 325px;}
    .product-refer-line{width: 325px;}
    .line-55{top: 1052px;
        width: 90%;
        left: 5%;
    }
    .product-functionbuttons {
        top: 1064px;}

    .product-functionbuttons-a{font-size: 18px;}
    .btn-product-intro{
        font-size: 18px;height: 46px;    
        border-width: 0px 0px 3px 0px;}
    .product-refer-focus{font-size: 18px;width: 100%;}
    .product-refer-memberdiscountad{font-size: 18px;width: 100%;}

    .product-refer-evaluate{transform: scale(0.8); width: 393px;gap: 77px;}
    .product-refer-evaluate{left: -36px;gap: 72px;}
    .product-refer-evaluate-a{position: relative;padding-left: 12px;}


    .btn-product-favorite-big{width: 48px;height: 48px;}
    .btn_product_favorite_big-a{display: none;}
    .product-list{height: 3900px;}
    .beefnoodle-pic-big-left-top-1{display: none;}
    .beefnoodle-pic-big-left-middle-1{display: none;}
    .beefnoodle-pic-big-left-bottom-1{display: none;}
    .beefnoodle-pic-big-right-1{left: 0px;top: 0px;height: 320px;width: 320px;position: relative;}
    .productlist-ricenoodle-beefnoodle{width: 320px;height: 320px;position: relative;}
    .btn-zoom-out-fr{width: 40px;height: 40px;}
    .btn-zoom-out{left: 264px;top: 264px;}
    .btn-zoom-out-fr{width: 0.0000001px;height: 0.0000001px;}
    .product-refer-pricewfollow{gap: 64px;}
    .product-refer-stepperwaddcart{display: contents;}
    .pc-btn-product-addcart2{width: 320px;height: 48px;}
    .acc{width: 240px;height: 40px;}
    .minus, .plus{width: 130px;height: 40px;}
    .minus{left: -14px;}
    .plus{left: 124px;}
    .stepper{gap: 17px;}
    .share-default{display: none;}

    .evaluate-stars{gap: 16px;}
    .beefnoodle-product-intro{top: 640px;}
    .beefnoodle-product-introword{gap: 24px;}
    .beefnoodle-product-introword-title1{font-size: 24px;}
    .beefnoodle-product-intro-refer-a{font-size: 18px;width: 320px;}
    .beefnoodle-pic-referbig{width: 320px;height: 200px;}
    .beefnoodle-product-intro{gap: 44px;}

    .heatingmethod{gap: 16px; padding: 24px 0px;border-width: 8px;margin-top: 20px;}
    .microwave2{ width: 200px;height: 132px;}
    .microwave-icon{
        height: 148px;
        width: 272px;
    }
    .microwave-referline {width: 248px;height: 8px;}
    .electricpot-referline {width: 248px;height: 8px;}
    .heatingmethod-title2{font-size: 24px;}
    .heatingmethod-a{font-size: 18px;}
    .rice-cooker {width: 200px;}
    .electricpot-icon{width: 320px;}
    .othersviewing{top: 88.2%;height: 520px;}
    .beefnoodle-product-introword-title2{font-size: 24px;}
    .heatingmethod-youtube{
        margin-top: 20px;
        gap: 32px;
        height: 272px;
    }
    .heatingmethod-youtube iframe{
        width: 320px;
        height: 200px;
    }
    .nutrition-labelwdialogbox{
        width: 320px;
        height: 320px;
    }
    .nutrition-title{font-size: 18px;
        left: 0%;
        top: 0.73%;
        width: 35.86%;}
    ._580-g-5-g{font-size: 18px;width: 50%;}
    ._580-g-5-g{margin-left: 72px;}
    .nutrition-title-middle{font-size: 18px;}
    .nutrition-title-right{font-size: 18px;}
    .frame-443{gap: 11px;right: 73.14%;
        left: 4%;
        width: 28.19%;
        bottom: 0%;
        height: 72.17%;
        top: 20%;}
    .nutrition-list-left-a1{font-size: 18px;}
    .nutrition-list-left-a2{font-size: 18px;}
    .frame-440{gap: 6px;padding-top: 8px;}
    .nutrition-list-left-a3{font-size: 18px;}
    .nutrition-title-middle-a{font-size: 18px;}
    .frame-441{gap: 6px;padding-top: 8px;}
    .nutrition-title-right-a{font-size: 18px;}
    .frame-442{    
        top: 7%;
        left: 34.33%;
        gap: 22px;}
    ._580-g-5-g{top: 0.4%;    left: 26.1%;}

    .group-1{position:relative;height: auto;}
    .btn-product-favorite-big:active::before{
        left: 20px;
        top: 12px;
        width: 13px;
        height: 21px;
      }
    .btn-product-favorite-big:active:after {
        top: 12px;
        left: 6px;
    }

    .introproducts-wsubtitle{gap: 24px;}
    .subtitle{font-size: 24px;  height: 0px;  width: 190px;}
    .introproducts{padding: 0px 10px 20px 10px;width: 360px;transform: scale(0.8);}

    .card-list{gap: 0;}
    .introproducts-wsubtitle{top: 0px;gap: 8px;}
    .nutrition-label{width: 320px;height: 320px;}
    .notification-custom {
        width: 320px;
        height: 60px;

      }
    .subtitle {
    font-size: 22px;
    width: 230px;
    }
    .btn-product-favorite-big:hover{background-color: #fff;}

  }
  @media (max-width: 390px) {
    .introproducts-wsubtitle{left: 20px;}


}