
@media (max-width: 1800px) {
    .wrapper{
        width: auto;
    }
    .breadcrumbs{
        left: 72px;
    }
}
@media (max-width: 1600px) {
    .group-26{
        padding: 0px 120px;
    }
}
@media (max-width: 1200px) {

    .breadcrumbs{
        left: 40px;
    }
}
@media (max-width: 834px) {
    .enjoy-3-1{
        height: 400px;top: 272px;
    }
    .frame-315{left: 0px;top: 676px;}
    .breadcrumbs{
        left: 40px;
    }
    .breadcrumbs {
        padding-left: 32px;
        top: 12px;
    }
    .chips{height: 40px;top: 56px;top: 224px;}
    .esg-esg{width: 80%;}
    .esg-a{top: 796px;}
    .pc-btn-product-backtoshop{top: 1640px;}
    .product-list-esg{height: 1867px;}
    .frame-315{left: 0;padding-left: 0;}
    .group-26{width: 100%;padding: 0px 96px;top: -60px;}
    .chatbot-default{height: 56px;width: 56px;}
    /* chat */
.chatbot-default{height: 56px;width: 56px;}
#chat-window {
    right: 60px;
    bottom: 94px;
    height: 560px;
    width: 370px;
}
#chat-icon {
bottom: 20px;
}
#chat-close{padding-left: 280px;}
#chat-header {padding: 24px 32px;width: 370px;}
#chat-title{font-size: 32px;}
#chat-title-2{font-size: 16px;}
#chat-h1{font-size: 16px;}
#chat-subtitle-2{font-size: 16px;}
#chat-subtitle{font-size: 20px;padding-top: 0px;margin-top: 20px;}
#chat-leave{margin-top: -66px;width: 320px;margin-left: 26px;padding: 16px; height: 162px;}

#chat-social{margin-top: 20px;width: 320px;margin-left: 26px;height: 64px;padding: 0px;}
.social-link{padding: 8px 24px;}

#chat-footer{margin-top: 48px;width: 368px;margin-left: -26px;}
#send-button{padding:24px;font-size: 16px;}
#message-input{font-size: 18px;}
#send-button{padding: 20px;}
}
@media (max-width: 458px) {
    .group-26{width: 100%;padding: 0px 40px;top: 0px;}
}
@media (max-width: 458px) {
    .enjoy-3-1 {
        top: 120px;
    }
    .esg{left: 2.2%;}
    .enjoy-3-1{height: 222px;}
    .frame-315{top: 274px;}
    .esg-a{top: 360px;}
    .chips{
        left: 0px;
    height: 64px;
    top: 44px;}
    .pc-btn-product-backtoshop{top: 1650px;}
    .product-list-esg{height: 1900px;}
    .breadcrumbs {
        padding-left: 0px;
        height: 64px;
        top: 0  ;
        left: 24px;
    }
    .breadcrumbs-index-a{font-size: 18px;}
    .breadcrumbs-index-focus{font-size: 18px;}
    #chat-window {
        right: 13px;
        bottom: 96px;
        height: 536px;
        width: 370px;}
        #chat-footer {
            margin-top: 23px;}

}
















